@page "/parties"
@using Microsoft.Extensions.Configuration
@inject IDataAccess _db
@inject IConfiguration _config

<EditForm Model="@model" OnValidSubmit="SubmitForm">
    <div class="form-group">
        <label for="partyID">PartyID</label>
        <InputNumber id="partyID" @bind-Value="@model.Id"></InputNumber>
    </div>
    <div class="form-group">
        <label for="PartyName">PartyName</label>
        <InputText id="partyName" @bind-Value="@model.PartyName"></InputText>
    </div>
    <div class="form-group">
        <label for="partyTypeID">PartyTypeID</label>
        <InputNumber id="partyTypeID" @bind-Value="@model.PartyTypeID"></InputNumber>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <label>@status</label>
</EditForm>

@code {
    Party model = new Party();
    private string status;

    private void SubmitForm()
    {
        Console.WriteLine(model);
        status = model.ToString();

    }

    private async Task Add()
    {
        model.Add(NewLedger);
        string sql = "INSERT INTO tbl_Ledger(VocNo,SrNo,Date,Description,NetDebit,NetCredit) " +
            "VALUES(@VocNo, @SrNo, @Date, @Description, @NetDebit, @NetCredit);";
        try
        {
            await _db.SaveData(sql,
                new { VocNo = NewLedger.VocNo, SrNo = NewLedger.SrNo, Date = DateTime.Today, Description = NewLedger.Description, NetDebit = NewLedger.NetDebit, NetCredit = NewLedger.NetCredit },
                _config.GetConnectionString("default"));

        }
        catch (Exception ex)
        {

            throw ex;
        }
    }

}