@page "/parties"
@using Microsoft.Extensions.Configuration
@inject IDataAccess _db
@inject IConfiguration _config

<EditForm Model="@model" OnValidSubmit="SubmitForm">
    <div class="form-group">
        <label for="partyID">PartyID</label>
        <InputNumber id="partyID" @bind-Value="@model.Id"></InputNumber>
    </div>
    <div class="form-group">
        <label for="PartyName">PartyName</label>
        <InputText id="partyName" @bind-Value="@model.PartyName"></InputText>
    </div>
    <div class="form-group">
        <label for="partyTypeID">PartyTypeID</label>
        <InputNumber id="partyTypeID" @bind-Value="@model.PartyTypeID"></InputNumber>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <label>@status</label>
</EditForm>

@code {
    Party model = new Party();
    private string status;

    private void SubmitForm()
    {
        Add();
        //status = model.ToString();

    }

    private void Add()
    {
        string sql = "INSERT INTO tbl_Party(PartyNameID,PartyName,PartyTypeID) " +
            "VALUES(@Id, @partyName, @partyTypeID);";
        try
        {
            _db.SaveData(sql,
                new { model.Id, model.PartyName, model.PartyTypeID },
                _config.GetConnectionString("default"));

        }
        catch (Exception ex)
        {

            status = ex.Message.ToString();
        }
    }

}